<h3>Users</h3>

<table>
  <tr>ID</tr>
  <tr>Name</tr>
  <tr>Email</tr>
  <tr>Status</tr>

  <%  _.each(users, function (user) { %>
    <tr data-id="<%= user.id %>" data-model="user">
      <td><%= user.id %></td>
      <td><a href="/user/show/<%= user.id %>"><%= user.name %></a></td>
      <td><%= user.email %></td>
      <td><%= user.status %></td>
    </tr>
  <% }) %>
</table>
