<h3>Customers</h3>

<table>
  <tr>ID</tr>
  <tr>Name</tr>
  <tr>Email</tr>

  <%  _.each(customers, function (customer) { %>
    <tr data-id="<%= customer.id %>" data-model="customer">
      <td><%= customer.id %></td>
      <td><a href="/customer/show/<%= customer.id %>"><%= customer.name %></a></td>
      <td><%= customer.email %></td>
    </tr>
  <% }) %>
</table>

<h2><a href="/customer/new">Add new Customer</a></h2>
